<ion-header>
  <ion-toolbar>
    <ion-title>{{ booking.bookingDate | date }} {{ booking.amount | currency:'EUR':true }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bookingDetail-content ion-padding">
  <ion-grid>
    <ion-item>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-row>
            <ion-col col-4>Booking date:</ion-col>
            <ion-col col-8>{{ booking.bookingDate | date }}</ion-col>
            <ion-col col-4>Amount:</ion-col>
            <ion-col col-8>{{ booking.amount | currency:'EUR':'symbol' }}</ion-col>
            <ion-col col-4 *ngIf="booking.otherAccount">Receiver:</ion-col>
            <ion-col col-8 *ngIf="booking.otherAccount">{{ booking.otherAccount.owner }}</ion-col>
            <ion-col col-4>Standing order:</ion-col>
            <ion-col col-8>{{ booking.standingOrder }}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12 col-lg-6>
          <ion-row>
            <ion-col col-4 *ngIf="booking.creditorId">Creditor ID:</ion-col>
            <ion-col col-8 *ngIf="booking.creditorId">{{ booking.creditorId }}</ion-col>
            <ion-col col-4 *ngIf="booking.mandateReference">Mandate reference:</ion-col>
            <ion-col col-8 *ngIf="booking.mandateReference">{{ booking.mandateReference }}</ion-col>
            <ion-col col-4>Bank API:</ion-col>
            <ion-col col-8>{{ booking.bankApi }}</ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-12>
          <ion-row>
            <ion-col col-2>Purpose:</ion-col>
            <ion-col col-10><p style="white-space: normal;">{{ booking.usage }}</p></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-12 col-lg-6>
          <ion-row>
            <ion-col col-4>Rules:</ion-col>
            <ion-col col-8>{{ booking.bookingCategory?.rules }}</ion-col>
            <ion-col col-4>Main category:</ion-col>
            <ion-col col-8>{{ booking.bookingCategory?.mainCategory }}</ion-col>
            <ion-col col-4>Subcategory:</ion-col>
            <ion-col col-8>{{ booking.bookingCategory?.subCategory }}</ion-col>
            <ion-col col-4>Specification:</ion-col>
            <ion-col col-8>{{ booking.bookingCategory?.specification }}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="editRule()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>