.DS_Store
.idea/
.idea

**/.classpath
**/.project
**/.settings/
**/target
**/.idea
**/*.iml
**/bin/
*/src/**/*.js.map
*/src/**/*.js
multibanking-app/.history
**/*.log.gz
**/*.log
*.log.gz
*.log

pom.xml.versionsBackup
multibanking-app/.sourcemaps
multibanking-app/platforms
multibanking-persistence-jpa/de.adorsys.multibanking.jpa.entity.BankJpaEntity
