<ion-header>
  <ion-toolbar>
    <ion-title>Bank Connections</ion-title>
    <ion-buttons slot="secondary" >
      <ion-button (click)="adminArea()" *ngIf="admin">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let bankAccess of bankAccesses" (click)="itemTapped(bankAccess)">
      {{bankAccess.iban}} - {{bankAccess.bankName}}
      <ion-button fill="clear" slot="end" (click)="presentActionSheet($event, bankAccess)">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createConnection()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>