<ion-header>
  <ion-toolbar>
    <ion-title>Smartanalytics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Smartanalytics configuration</ion-label>
    </ion-list-header>
    <ion-item routerLink="/admin/smartanalytics/custom-rules">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>  
      <ion-label>Custom rules</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/smartanalytics/static-rules">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Static rules</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/smartanalytics/categories">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/smartanalytics/booking-groups">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Booking groups</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/smartanalytics/contract-blacklist">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Contract blacklist</ion-label>
    </ion-item>
    <ion-item routerLink="/admin/smartanalytics/images">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Images</ion-label>
    </ion-item>
  </ion-list>
</ion-content>