<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>Categorize Booking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bookingEdit-content" padding>
  <ion-list>
    <ion-item>
      <ion-label>Receiver</ion-label>
      <ion-input type="text" name="receiver" [(ngModel)]="receiver"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Expression</ion-label>
      <ion-input type="text" name="expression" [(ngModel)]="expression"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Main category</ion-label>
      <ion-select [(ngModel)]="mainCategoryId" (ionChange)="mainCategoryChanged($event)">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Subcategory</ion-label>
      <ion-select [(ngModel)]="subCategoryId" (ionChange)="subCategoryChanged($event)">
        <ion-option *ngFor="let category of mainCategory?.subcategories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Specification</ion-label>
      <ion-select [(ngModel)]="specificationId" (ionChange)="specificationChanged($event)">
        <ion-option *ngFor="let category of subCategory?.specifications" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tax relevant</ion-label>
      <ion-toggle [(ngModel)]="taxRelevant"></ion-toggle>
    </ion-item>
  </ion-list>
  <button block icon-start ion-button color="primary" type="submit" (click)="submit()" [disabled]="!mainCategory">
    Speichern
  </button>
</ion-content>
