<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>{{pageable?.page.totalElements}} bookings</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncBookings()">
        Sync
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bookingList-content">
  <ion-fab bottom right>
    <button ion-fab mini>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab mini (click)="createPayment()">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
      <button ion-fab mini (click)="downloadBookings()">
        <ion-icon name="download"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item-divider *ngFor="let month of bookingMonths" color="light">{{ month | amDateFormat:'MMM YYYY' }}
      <ion-item class="booking-list__item" *ngFor="let booking of month.bookings" (click)="itemSelected(booking)">
        <ion-avatar item-start>
          <img [src]="getLogo(booking?.bookingCategory?.logo)" item-left/>
        </ion-avatar>
        <h3 [ngClass]="{'forecast': booking.forecastBooking}">
          <strong *ngIf="booking.amount < 0">Payee:</strong>
          <strong *ngIf="booking.amount > 0">Payer:</strong>
          {{ getReceiver(booking)}}
        </h3>
        <div [ngClass]="{'forecast': booking.forecastBooking}" *ngIf="booking.bookingCategory">
          <h4>
            <strong>Main Category:</strong> {{ booking.bookingCategory?.mainCategory}}</h4>
          <h4>
            <strong>Sub Category:</strong> {{ booking.bookingCategory?.subCategory}}</h4>
          <h4>
            <strong>Specification:</strong> {{ booking.bookingCategory?.specification}}</h4>
        </div>
        <div class="item__alert" *ngIf="!booking.bookingCategory">
          <ion-icon name="alert" float-left *ngIf="!booking?.bookingCategory?.mainCategory"></ion-icon>
          <h3 float-left padding-left>not categorized</h3>
        </div>
        <div item-right>
          <h4 [ngClass]="{'forecast': booking.forecastBooking}">{{ booking.bookingDate | date }}</h4>
          <h2 [ngClass]="{'amount--negative': booking.amount < 0, 'amount--positive': booking.amount > 0}">
            {{ booking.amount | currency:'EUR':'symbol' }}
          </h2>
          <ion-icon *ngIf="booking.bookingCategory?.custom?.taxRelevant" name="logo-usd"></ion-icon>
        </div>
      </ion-item>
    </ion-item-divider>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
