<ion-header>
  <ion-navbar>
    <ion-title>Bookings</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncBookings()">
        Reload
      </button>
      <button ion-button (click)="showAnalytics()">
        Analytics
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bookingList-content" padding>
  <ion-list>
    <ion-item *ngFor="let booking of bookings" (click)="itemSelected(booking)">
       <ion-thumbnail item-left>
        <img [src]="getCompanyLogoUrl(booking)" *ngIf="booking.bookingCategory && booking.bookingCategory.contract && booking.bookingCategory.contract.logo" item-left/>
      </ion-thumbnail> 
      <h3>{{ booking.otherAccount !=null ? booking.otherAccount.owner : ""}}</h3>
      <h4 *ngIf="booking.bookingCategory">{{ booking.bookingCategory.mainCategory}}</h4>
      <h4 *ngIf="booking.bookingCategory">{{ booking.bookingCategory.subCategory}}</h4>
      <h4 *ngIf="booking.bookingCategory">{{ booking.bookingCategory.specification}}</h4>
      <div item-right>
        <h4>{{ booking.bookingDate | date }}</h4>
        <h2>{{ booking.amount | currency:'EUR':true }}</h2>
        </div>
    </ion-item>
  </ion-list>
</ion-content>
