<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Banks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="banks">
  <ion-fab bottom right>
    <button ion-fab mini>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <label ion-fab mini>
        <ion-icon name="cloud-upload"></ion-icon>
        <input type="file" (change)="uploadBanks($event)" style="display: none">
      </label>
    </ion-fab-list>
  </ion-fab>
  <ion-list padding>
    <ion-item>
    
    </ion-item>
  </ion-list>
</ion-content>
