<ion-header>
  <ion-toolbar>
    <ion-title>Banks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="fileInput.click()">
        <ion-icon name="cloud-upload"></ion-icon>
        <input #fileInput type="file" (change)="uploadBanks($event)" style="display: none">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>