<ion-header>
  <ion-toolbar color="light">
    <ion-title>Banks</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [formControl]="searchControl"></ion-searchbar>
  <ion-virtual-scroll [items]="banks">
    <ion-item *virtualItem="let bank">
      <ion-label>
        <h2>{{bank.name}}</h2>
        <p>{{bank.bankCode}} {{bank.bic}} {{bank.bankApi}}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="fileInput.click()">
        <ion-icon name="cloud-upload"></ion-icon>
        <input #fileInput type="file" (change)="uploadBanks($event)" style="display: none">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>