<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Bank Connections</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bankaccessList-content" padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="createBankAccess()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let bankaccess of bankaccesses" (click)="itemSelected(bankaccess)">
      <h3>{{ bankaccess.bankCode }}</h3>
      <h2>{{ bankaccess.bankName }}</h2>
      <button ion-button outline item-end (click)="editBankAccess($event, bankaccess)">
        <ion-icon name="settings"></ion-icon>
        Edit
      </button>
      <button ion-button outline item-end (click)="deleteBankAccess($event, bankaccess)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
    </ion-item>
  </ion-list>
</ion-content>
