<ion-header>
  <ion-navbar>
    <ion-title>New Bank Connection</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bankaccess-create-content" padding>
  <ion-auto-complete [dataProvider]="bankAutoCompleteService" [options]="{placeholder : 'Bank name or bank code'}" #autocomplete></ion-auto-complete>
  <form (ngSubmit)="createBankAccess()" #createForm="ngForm" *ngIf="selectedBank">

    <ion-item-group>
      <ion-item-divider color="light">{{selectedBank.loginSettings.advice ? selectedBank.loginSettings.advice :'Bank login data'}}</ion-item-divider>
      <ion-item *ngFor="let item of selectedBank.loginSettings.credentials">
        <ion-label floating>{{item.label}}</ion-label>
        <ion-input type="{{item.masked ? 'password' : 'text'}}" name="bankLogin" [(ngModel)]="item.input" required></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Bank settings</ion-item-divider>
      <ion-item>
        <ion-label>Save Pin</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.storePin" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Save Bookings</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.storeBookings" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Categorize Bookings</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.categorizeBookings" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Save anonymized Bookings</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.storeAnonymizedBookings" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Save Analytics</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.storeAnalytics" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Provide data for machine learning</ion-label>
        <ion-toggle [(ngModel)]="bankAccess.provideDataForMachineLearning" [ngModelOptions]="{standalone: true}"></ion-toggle>
      </ion-item>

    </ion-item-group>
    <button ion-button color="primary" block type="submit" [disabled]="!createForm.form.valid">Submit</button>

  </form>
</ion-content>
