page-analytics {
  .scroll-zoom-wrapper {
    white-space: nowrap;
  }
  ion-card {
    width: 150px !important;
    display: inline-block;
    ion-card-title {
      font-size: 1.4rem !important;
      line-height: 0.2 !important;
    }
  }
  ion-card.active {
    background-color: color($colors, primary);
    ion-card-title {
        color: color($colors, light);
      }
  }
  ion-scroll {
    min-height: 80px;
    height: auto;
    .scroll-content {
      padding: 0px !important;
    }
  }
}
