<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>Analytics created {{ analytics?.analyticsDate | date }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncBookings()">
        Reload
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="analytics-content" padding>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let item of dates" [ngClass]="{'active': item == referenceDate }" (click)="newDateSelected(item)">
      <ion-card-content>
        <ion-card-title>
          {{ item | amDateFormat:'MMM YYYY' }}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-item-group>
    <ion-item-divider color="light">Income</ion-item-divider>
    <ion-item (click)="itemSelected('Income fix', incomeFix)">Fix: {{incomeFix?.amount | currency:'EUR':'symbol'}}
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item (click)="itemSelected('Income other', incomeOther)">Other: {{incomeOther?.amount | currency:'EUR':'symbol'}}
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">Expenses</ion-item-divider>
    <ion-item (click)="itemSelected('Expenses fix', expensesFix)">Fix: {{expensesFix?.amount | currency:'EUR':'symbol'}}
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item (click)="itemSelected('Expenses variable', expensesVariable)">Variable: {{expensesVariable?.amount | currency:'EUR':'symbol'}}
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item (click)="itemSelected('Expenses other', expensesOther)">Other: {{expensesOther?.amount | currency:'EUR':'symbol'}}
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-item-group>
</ion-content>
