<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>Analytics created {{ analytics?.analyticsDate | date }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncBookings()">
        Sync
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="analytics-content" padding>
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="'{responsive: true}'" [legend]="true"
    [chartType]="'line'" [colors]="lineChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
  </canvas>
  <ion-scroll scrollX="true" direction="x">
    <ion-card *ngFor="let item of dates" [ngClass]="{'active': item == referenceDate }" (click)="newDateSelected(item)">
      <ion-card-content>
        <ion-card-title>
          {{ item | amDateFormat:'MMM YYYY' }}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Incomings</ion-item-divider>
      <ion-item (click)="itemSelected('Income fix', budget.incomeFix)">
        <h2>{{!forecast ? 'Fix incomings' : 'Estimated fix incomings' }}</h2>
        <div item-right>
          <h2 [ngClass]="{'amount--negative': budget.incomeFix?.amount < 0, 'amount--positive': budget.incomeFix?.amount > 0}">
            {{ budget.incomeFix?.amount | currency:'EUR':'symbol' }}
          </h2>
        </div>
      </ion-item>
      <ion-item (click)="itemSelected('Income other', budget.incomeOther)">
        <h2>{{!forecast ? 'Other incomings' : 'Estimated other incomings' }}</h2>
        <div item-right>
          <h2 [ngClass]="{'amount--negative': budget.incomeOther?.amount < 0, 'amount--positive': budget.incomeOther?.amount > 0}">
            {{ budget.incomeOther?.amount | currency:'EUR':'symbol' }}
          </h2>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Expenses</ion-item-divider>
      <ion-item (click)="itemSelected('Expenses fix', budget.expensesFix)">
        <h2>{{!forecast ? 'Fix expenses' : 'Estimated fix expenses' }}</h2>
        <div item-right>
          <h2 [ngClass]="{'amount--negative': budget.expensesFix?.amount < 0, 'amount--positive': budget.expensesFix?.amount > 0}">
            {{ budget.expensesFix?.amount | currency:'EUR':'symbol' }}
          </h2>
        </div>
      </ion-item>
      <ion-item (click)="itemSelected('Expenses variable', budget.expensesVariable)">
        <h2>{{!forecast ? 'Variable expenses' : 'Estimated variable expenses' }}</h2>
        <div item-right>
          <h2 [ngClass]="{'amount--negative': budget.expensesVariable?.amount < 0, 'amount--positive': budget.expensesVariable?.amount > 0}">
            {{ budget.expensesVariable?.amount | currency:'EUR':'symbol' }}
          </h2>
        </div>
      </ion-item>
      <ion-item (click)="itemSelected('Expenses other', budget.expensesOther)">
        <h2>{{!forecast ? 'Other expenses' : 'Estimated other expenses' }}</h2>
        <div item-right>
          <h2 [ngClass]="{'amount--negative': budget.expensesOther?.amount < 0, 'amount--positive': budget.expensesOther?.amount > 0}">
            {{ budget.expensesOther?.amount | currency:'EUR':'symbol' }}
          </h2>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>


</ion-content>
