<ion-header>
  <ion-navbar>
    <ion-title>{{ label }} - {{ referenceDate | amDateFormat:'MMM YYYY' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let group of bookingGroups" (click)="itemSelected(group)">
    <ion-thumbnail item-left>
      <img [src]="getCompanyLogoUrl(group)" *ngIf="group.contract?.logo" item-left/>
    </ion-thumbnail>
    <h3>{{group.otherAccount ? group.otherAccount : group.name}}</h3>
    <h4 *ngIf="group.mainCategory">{{group.mainCategory}}</h4>
    <h4 *ngIf="group.subCategory">{{group.subCategory}}</h4>
    <h4 *ngIf="group.specification">{{group.specification}}</h4>
    <div item-right>
      <h2>{{ getAmount(group) | currency:'EUR':'symbol' }}</h2>
    </div>
  </ion-item>
</ion-content>
