<ion-header>
  <ion-navbar>
    <ion-title>{{ bookingGroup.name }} - {{ referenceDate | amDateFormat:'MMM YYYY' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let booking of bookings">
    <ion-thumbnail item-left>
      <img [src]="getCompanyLogoUrl(booking.loadedBooking)" *ngIf="booking.loadedBooking?.bookingCategory?.contract?.logo" item-left/>
    </ion-thumbnail>
    <h3>{{booking.loadedBooking?.otherAccount?.owner}}</h3>
    <h4 *ngIf="booking.loadedBooking?.bookingCategory?.mainCategory">{{booking.loadedBooking.bookingCategory.mainCategory}}</h4>
    <h4 *ngIf="booking.loadedBooking?.bookingCategory?.subCategory">{{booking.loadedBooking.bookingCategory.subCategory}}</h4>
    <h4 *ngIf="booking.loadedBooking?.bookingCategory?.specification">{{booking.loadedBooking.bookingCategory.specification}}</h4>
    <div item-right>
      <h4 [ngClass]="{'executed': booking.executed, 'not-executed': booking.executed}">{{ booking.executionDate | date }}</h4>
      <h2 [ngClass]="{'executed': booking.executed, 'not-executed': booking.executed}">{{ booking.loadedBooking?.amount | currency:'EUR':'symbol' }}</h2>
    </div>
  </ion-item>
</ion-content>
