<ion-header>
  <ion-navbar>
    <ion-title>{{ label }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let bookingGroup of bookingGroups">
    <ion-thumbnail item-left>
      <img [src]="getCompanyLogoUrl(bookingGroup)" *ngIf="bookingGroup.contract.logo" item-left/>
    </ion-thumbnail>
    <h4 *ngIf="bookingGroup.otherAccount">{{bookingGroup.otherAccount}}</h4>
    <h4 *ngIf="bookingGroup.mainCategory">{{bookingGroup.mainCategory}}</h4>
    <h4 *ngIf="bookingGroup.subCategory">{{bookingGroup.subCategory}}</h4>
    <h4 *ngIf="bookingGroup.specification">{{bookingGroup.specification}}</h4>
    <div item-right>
      <h4>{{ bookingGroup.nextExecutionDate | date }}</h4>
      <h2>{{ bookingGroup.amount | currency:'EUR':'symbol' }}</h2>
    </div>
  </ion-item>
</ion-content>
