<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>Create/Update rule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ruleEdit-content" padding>
  <ion-list>
    <ion-item *ngIf="rule?.creditorId">
      <ion-label>Creditor id: {{rule.creditorId}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Receiver</ion-label>
      <ion-input type="text" name="receiver" [(ngModel)]="rule.receiver"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Similarity matcher</ion-label>
      <ion-select [(ngModel)]="rule.similarityMatchType" (ionChange)="similarityMatherChanged($event)">
        <ion-option *ngFor="let matcher of similarityMatcher" value="{{matcher}}">{{matcher}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Expression</ion-label>
      <ion-input type="text" name="expression" [(ngModel)]="rule.expression"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Main category</ion-label>
      <ion-select [(ngModel)]="rule.mainCategory" (ionChange)="mainCategoryChanged($event)">
        <ion-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Subcategory</ion-label>
      <ion-select [(ngModel)]="rule.subCategory" (ionChange)="subCategoryChanged($event)">
        <ion-option *ngFor="let category of mainCategory?.subcategories" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Specification</ion-label>
      <ion-select [(ngModel)]="rule.specification" (ionChange)="specificationChanged($event)">
        <ion-option *ngFor="let category of subCategory?.specifications" value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tax relevant</ion-label>
      <ion-toggle [(ngModel)]="rule.taxRelevant"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Income</ion-label>
      <ion-toggle [(ngModel)]="rule.incoming"></ion-toggle>
    </ion-item>
  </ion-list>
  <button block icon-start ion-button color="primary" type="submit" (click)="submit()" [disabled]="!rule.mainCategory || (!rule.expression && !rule.creditorId)">
    Speichern
  </button>
</ion-content>
