<ion-tabs>
    <ion-tab [root]="tab1Root" [rootParams]="navParams" tabTitle="Custom rules" tabIcon=""></ion-tab>
    <ion-tab [root]="tab2Root" [rootParams]="navParams" tabTitle="Static rules" tabIcon=""></ion-tab>
    <ion-tab [root]="tab3Root" [rootParams]="navParams" tabTitle="Categories" tabIcon=""></ion-tab>
    <ion-tab [root]="tab4Root" [rootParams]="navParams" tabTitle="Booking groups" tabIcon=""></ion-tab>
    <ion-tab [root]="tab5Root" [rootParams]="navParams" tabTitle="Contract blacklist" tabIcon=""></ion-tab>
  </ion-tabs>
  