<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="de.adorsys.multibanking.logging.WhitelistMaskEverythingLayout">
               <pattern>%d{HH:mm:ss.SSS} %level [%logger{0}] [%X{correlationId}] %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="STDOUT-AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="de.adorsys.multibanking.logging.WhitelistMaskEverythingLayout">
                <pattern>%d{HH:mm:ss.SSS} [%X{user}:%X{accessId}] - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="de.adorsys.multibanking.logging.RestControllerAspectLogging" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT-AUDIT"/>
    </logger>

    <logger name="org.kapott.hbci.comm.CommPinTan" level="TRACE"/>
    <logger name="de.adorsys.xs2a.adapter.api.AccountApi" level="WARN"/>

</configuration>
