<ion-header>
  <ion-navbar>
    <ion-title>Bank Accounts</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bankaccountList-content" padding>
  <ion-list>
    <button ion-item *ngFor="let bankAccount of bankAccounts" (click)="itemSelected(bankAccount)">
      <h3>{{ bankAccount.accountNumber }}</h3>
      <h2>{{ bankAccount.type }}</h2>
      <h2 *ngIf="bankAccount.balances && bankAccount.balances.readyHbciBalance" item-right>{{ bankAccount.balances.readyHbciBalance.amount | currency:'EUR':'symbol' }}</h2>
    </button>
  </ion-list>
</ion-content>
