<ion-menu persistent="true" [content]="content">
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(backAccessListPage)" menuToggle>
        Bank connections
      </button>
      <button ion-item (click)="openPage(banksPage)" menuToggle *ngIf="isRulesAdmin()">
        Banks config
      </button>
      <button ion-item (click)="openPage(configTabsPage)" menuToggle *ngIf="isRulesAdmin()">
        Smartanalytics config
      </button>
      <button ion-item (click)="logout()" menuToggle>
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
