<ion-header>
  <ion-toolbar>
    <ion-title>{{pageable?.page.totalElements}} custom rules</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/smartanalytics"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let rule of rules" (click)="itemSelected(rule)">
      <ion-label>
        <p><strong>Rule id:</strong> {{ rule.ruleId}}</p>
        <p *ngIf="rule.receiver"><strong>Receiver:</strong> {{ rule.receiver }}</p>
        <p *ngIf="rule.creditorId"><strong>Creditor id:</strong> {{ rule.creditorId }}</p>
      </ion-label>
      <ion-label slot="end">
        <p><strong>Main category:</strong> {{ rule.mainCategory}}</p>
        <p><strong>Sub category:</strong> {{ rule.subCategory }}</p>
        <p><strong>Specification:</strong> {{ rule.specification }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="downloadRules()">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>