<ion-header>
  <ion-toolbar>
    <ion-title>Admin Area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Multibanking configuration</ion-label>
    </ion-list-header>
    <ion-item href="/admin/banks">
      <ion-icon slot="start" color="medium" name="cash"></ion-icon>
      <ion-label>Banks</ion-label>
    </ion-item>
    <ion-item href="/admin/smartanalytics">
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label>Smartanalytics</ion-label>
    </ion-item>
  </ion-list>
</ion-content>