<ion-header>
  <ion-navbar class="force-back-button">
    <ion-title>Contracts</ion-title>
    <ion-buttons end>
      <button ion-button (click)="syncBookings()">
        Sync
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contracts">
  <ion-list no-lines>
    <ion-item-divider color="light">Incomings</ion-item-divider>
    <contract-list [contracts]="contracts?.income"></contract-list>
    <ion-item-divider color="light">Expenses</ion-item-divider>
    <contract-list [contracts]="contracts?.expenses"></contract-list>
  </ion-list>
</ion-content>
