<ion-header>
  <ion-navbar>
    <ion-title>Contracts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contracts" padding>
  <ion-list>
    <ion-item *ngFor="let contract of contracts">
      <ion-thumbnail item-left>
        <img *ngIf="contract.logo" [src]="getLogo(contract.logo)" item-left/>
      </ion-thumbnail>
      <h4 *ngIf="contract.mainCategory">{{contract.mainCategory}}</h4>
      <h4 *ngIf="contract.subCategory">{{contract.subCategory}}</h4>
      <h4 *ngIf="contract.specification">{{contract.specification}}</h4>
      <div item-right>
        <h2>{{ contract.amount | currency:'EUR':true }}</h2>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
