<configuration>
    <include resource="/org/springframework/boot/logging/logback/base.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="de.adorsys.multibanking.logging.WhitelistMaskEverythingLayout">
                <whitelistEntry>bankName</whitelistEntry>
                <whitelistEntry>type</whitelistEntry>
                <whitelistEntry>bic</whitelistEntry>
                <whitelistEntry>bankCode</whitelistEntry>
                <whitelistEntry>tppRedirectUri</whitelistEntry>
                <whitelistEntry>additionalInformation</whitelistEntry>
                <whitelistEntry>data</whitelistEntry>
                <whitelistEntry>otpFormat</whitelistEntry>
                <whitelistEntry>label</whitelistEntry>
                <whitelistEntry>otpMaxLength</whitelistEntry>
                <whitelistEntry>blz</whitelistEntry>
                <whitelistEntry>jointAccount</whitelistEntry>
                <whitelistEntry>id</whitelistEntry>
                <whitelistEntry>scaStatus</whitelistEntry>
                <whitelistEntry>executionInterval</whitelistEntry>
                <whitelistEntry>amount</whitelistEntry>
                <whitelistEntry>bookingDate</whitelistEntry>
                <whitelistEntry>category</whitelistEntry>
                <whitelistEntry>balance</whitelistEntry>
                <whitelistEntry>balances</whitelistEntry>
                <whitelistEntry>transactionCode</whitelistEntry>
                <whitelistEntry>valutaDate</whitelistEntry>
                <whitelistEntry>bankName</whitelistEntry>
                <whitelistEntry>bic</whitelistEntry>
                <whitelistEntry>bankCode</whitelistEntry>
                <whitelistEntry>bankApi</whitelistEntry>
                <whitelistEntry>key</whitelistEntry>
                <whitelistEntry>severity</whitelistEntry>
                <whitelistEntry>field</whitelistEntry>
                <whitelistEntry>renderedMessage</whitelistEntry>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %X{correlationId} %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="de.adorsys.multibanking.logging.WhitelistMaskEverythingLayout">
                <whitelistEntry>bankName</whitelistEntry>
                <whitelistEntry>type</whitelistEntry>
                <whitelistEntry>bic</whitelistEntry>
                <whitelistEntry>bankCode</whitelistEntry>
                <whitelistEntry>tppRedirectUri</whitelistEntry>
                <whitelistEntry>additionalInformation</whitelistEntry>
                <whitelistEntry>data</whitelistEntry>
                <whitelistEntry>otpFormat</whitelistEntry>
                <whitelistEntry>label</whitelistEntry>
                <whitelistEntry>otpMaxLength</whitelistEntry>
                <whitelistEntry>blz</whitelistEntry>
                <whitelistEntry>jointAccount</whitelistEntry>
                <whitelistEntry>id</whitelistEntry>
                <whitelistEntry>scaStatus</whitelistEntry>
                <whitelistEntry>executionInterval</whitelistEntry>
                <whitelistEntry>amount</whitelistEntry>
                <whitelistEntry>bookingDate</whitelistEntry>
                <whitelistEntry>category</whitelistEntry>
                <whitelistEntry>balance</whitelistEntry>
                <whitelistEntry>balances</whitelistEntry>
                <whitelistEntry>transactionCode</whitelistEntry>
                <whitelistEntry>valutaDate</whitelistEntry>
                <whitelistEntry>bankName</whitelistEntry>
                <whitelistEntry>bic</whitelistEntry>
                <whitelistEntry>bankCode</whitelistEntry>
                <whitelistEntry>bankApi</whitelistEntry>
                <whitelistEntry>key</whitelistEntry>
                <whitelistEntry>severity</whitelistEntry>
                <whitelistEntry>field</whitelistEntry>
                <whitelistEntry>renderedMessage</whitelistEntry>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread] %X{correlationId} %msg%n</pattern>
            </layout>
        </encoder>
        <file>/tmp/mbs-audit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
            <fileNamePattern>/tmp/mbs-audit.log.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>20</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="de.adorsys.multibanking.logging.RestControllerAspectLogging" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.kapott.hbci.comm.CommPinTan" level="WARN"/>
    <logger name="de.adorsys.xs2a.adapter.api.AccountApi" level="WARN"/>

</configuration>
