<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bookings">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Bookings</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="analytics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="contracts">
      <ion-icon name="contract"></ion-icon>
      <ion-label>Contracts</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>