<ion-header>
  <ion-toolbar>
    <ion-title>Create consent</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createConsentForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">IBAN</ion-label>
        <ion-input formControlName="iban"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" [disabled]="!createConsentForm.valid">
        Create consent
      </ion-button>
    </ion-list>
  </form>
</ion-content>