<ion-item [ngClass]="{'cancelled': contract.cancelled}">
  <ion-avatar slot="start">
    <img [src]="getLogo(contract.logo)" />
  </ion-avatar>
  <ion-label>
    <h2 *ngIf="contract.provider">{{contract.provider}}</h2>
    <p *ngIf="contract.mainCategory">{{contract.mainCategory}}</p>
    <p *ngIf="contract.subCategory">{{contract.subCategory}}</p>
    <p *ngIf="contract.specification">{{contract.specification}}</p>
  </ion-label>
  <div class="ion-text-end" slot="end">
    <ion-label>
      <h4 class="interval">{{contract.interval | cycle}}</h4>
      <h2 [ngClass]="{'amount--negative': contract.amount < 0, 'amount--positive': contract.amount > 0}">
        {{contract.amount | currency:'EUR':'symbol'}}
      </h2>
    </ion-label>
  </div>
</ion-item>